api
api2
dash
.ipynb_checkpoints
embeddings
estados_inat
evaluations
runs
models
respaldos
test_images
trash
arrays_1_1.npz
arrays_model_2_b-hard-squared-dist_50classes_ep22_080323.npz
cls_to_idx_dict_50classes.pkl
cls_to_idx_dict_51classes.pkl
custom_config.yaml
emb_AlexNet_50classes_44ep_310123.gif
emb_AlexNet_50classes_44ep_310123.mp4
estado_búsqueda_inaturalist_chile.txt
imgs_paths_50cls_v2.npy
num_train_obs_por_clase.xlsx
spiders.gif
tensors_x_y_50classes_with_ingpaths_v2.pt
tensors_x_y_51classes_with_ingpaths.pt
test_imgs_path_2.pkl
test_imgs_path.pkl